@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700&family=Staatliches&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sriracha&family=Staatliches&display=swap');

:root {
        --font1: Verdana, Geneva, Tahoma, sans-serif;
        --font2: 'Passion One', cursive;
        --font3: 'Sriracha', cursive;
}

* {
padding: 0;
margin: 0;
font-family: 

}



html, body {
    min-height: 100vh;
    background-color: darkgray;
    font-family: var(--font1);
}

header {  
    background-color: black;
    text-align: center;
    color: white;
   

}

header > h1 {
 padding-top: 50px;
 font-variant: small-caps;
 font-family: var(--font2);
 font-size: 10vw;
}

header > p {
    padding-bottom: 50px;
}

a {
    text-decoration: none;
    color: white;
    font-weight: bolder;

}

a:hover {
    text-decoration: underline;
    

}

section {
    font-family: var(--font3);
    padding-top: 10vh ;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px ;
    font-size: 3.0vw;

}
section.normal {
    background-color: white;
    color: black;

}

section.imagem {
    color: white;
    background-color: rgb(53, 52, 52);
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.5); /*inset coloca a sombra para dentro*/

    background-attachment: fixed; /* fixa a imagem o que possibilita a rolagem*/

} 

section > p {
    padding-bottom: 2em;

}

section#img01 {
    background-image: url('../d012/imagens/background001.jpg' );
    background-position: right center;/*especifica o local que a imagem será vista */
    background-size: cover; /* determina o tamanho da imagem*/
     
}

section#img02 {
    background-image: url('../d012/imagens/background002.jpg');
    background-size: cover;
}

section.imagem > p {
    display: inline-block;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.479);
    text-shadow: 1px 1px 0px black;

    
}

footer { 
    background-color: black;
    color: white;
    padding: 10px;
    text-align: center;
}